{
  "swagger" : "2.0",
  "info" : {
    "description" : "OAuth2 Service Registration microservices endpoints.",
    "version" : "1.0.0",
    "title" : "OAuth2 Service Registration",
    "contact" : {
      "email" : "stevehu@gmail.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "oauth2.networknt.com",
  "basePath" : "/v1",
  "schemes" : [ "http", "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/oauth2/service" : {
      "get" : {
        "description" : "Return all services",
        "operationId" : "getAllService",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Service"
              }
            }
          }
        },
        "security" : [ {
          "service_auth" : [ "service.r" ]
        } ],
        "x-accepts" : "application/json",
        "x-contentType" : "application/json"
      },
      "post" : {
        "description" : "Return a service object",
        "operationId" : "createService",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "schema" : {
              "$ref" : "#/definitions/Service"
            }
          }
        },
        "security" : [ {
          "service_auth" : [ "service.w" ]
        } ],
        "x-accepts" : "application/json",
        "x-contentType" : "application/json"
      },
      "put" : {
        "description" : "Return the updated service",
        "operationId" : "updateService",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "schema" : {
              "$ref" : "#/definitions/Service"
            }
          }
        },
        "security" : [ {
          "service_auth" : [ "service.w" ]
        } ],
        "x-accepts" : "application/json",
        "x-contentType" : "application/json"
      }
    },
    "/oauth2/service/{serviceId}" : {
      "get" : {
        "description" : "Get a service by Id",
        "operationId" : "getService",
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "description" : "Service Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "schema" : {
              "$ref" : "#/definitions/Service"
            }
          },
          "400" : {
            "description" : "Invalid serviceId supplied"
          },
          "404" : {
            "description" : "Service not found"
          }
        },
        "security" : [ {
          "service_auth" : [ "service.r", "service.w" ]
        } ],
        "x-accepts" : "application/json",
        "x-contentType" : "application/json"
      },
      "delete" : {
        "description" : "Delete a service by Id",
        "operationId" : "deleteService",
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "description" : "Service Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid serviceId supplied"
          },
          "404" : {
            "description" : "Service not found"
          }
        },
        "security" : [ {
          "service_auth" : [ "service.w" ]
        } ],
        "x-accepts" : "application/json",
        "x-contentType" : "application/json"
      }
    }
  },
  "securityDefinitions" : {
    "service_auth" : {
      "type" : "oauth2",
      "authorizationUrl" : "http://localhost:8888/oauth2/code",
      "flow" : "implicit",
      "scopes" : {
        "service.w" : "write service",
        "service.r" : "read service"
      }
    }
  },
  "definitions" : {
    "Service" : {
      "type" : "object",
      "properties" : {
        "serviceId" : {
          "type" : "string",
          "description" : "a unique service id"
        },
        "serviceName" : {
          "type" : "string",
          "description" : "service name"
        },
        "ownerName" : {
          "type" : "string",
          "description" : "service owner name"
        },
        "ownerEmail" : {
          "type" : "string",
          "description" : "service owner email address"
        },
        "scopes" : {
          "type" : "string",
          "description" : "service scopes separated by space"
        }
      }
    }
  }
}